table.table {
  width: 60%;
  white-space: nowrap;
  text-decoration: none;
  border-collapse: separate;
  border-spacing: 0 1px;
  margin-left: auto;
  margin-right: auto;
}

tr.header {
  font-size: 13px;
  font-family: Tahoma;
  color: white;
  background-color: #687291;
  font-weight: bold;
}

tr.odd {
  font-size: 13px;
  font-family: Tahoma;
  background-color: #eeeff2;
}

tr.even {
  font-size: 13px;
  font-family: Tahoma;
  background-color: #dfe1e7;
}

th.left {
  text-align: left;
}

th.center {
  text-align: center;
}

td.left {
  text-align: left;
}

td.center {
  text-align: center;
}

tr.total {
  display: none;
}
