body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #21d4fd;
  background-image: linear-gradient(90deg, #21d4fd 0%, #b721ff 100%);
}

div.HomepageInfo {
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.slides {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
img {
  vertical-align: middle;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#cis408,
#sschung {
  width: 50%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  height: 100vh;
}

.courses {
  padding-left: 3%;
  padding-top: 7%;
  padding-bottom: 7%;
  color: whitesmoke;
  font-weight: bolder;
}

.project_list,
.courses {
  color: #f2f2f2;
  padding-left: 4%;
  font-size: 35px;
}

.video_div {
  position: relative;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
}

.video_div .controls {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.video_div .controls button {
  background: black;
  color: gray;
  font-weight: bolder;
  display: none;
}

.video_div .controls #list {
  list-style: none;
}

.video_div #video {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}
